.about_block {
    .about_title {
        padding: 20px;
        font-size: 45px;
        text-align: center;
        font-weight: 500;
    }
    .about_box {
        margin: 0 auto;
        .about_slogan {
            padding: 60px 0 10px 0;
            font-size: 30px;
            text-align: center;
            font-weight: 700;
        }
        .about_descr {
            margin: 20px 0;
        }
        .list_item {
            margin: 0 0 20px 30px;
        }
        @media (max-width: 768px) {
            .about_font {
                font-size: 16px;
            }
            .list_item div span {
                font-size: 16px;
            }
        }
    }
    @media (max-width: 768px) {
        .about_title {
            font-size: 30px;
        }
    }
}