@import '../../helpers/variables.scss';
.form {
    .title {
        font-size: 18px;
        color: #000;
        font-weight: 500;
    }
    .mt {
        margin-top: 30px;
    }
    .mb {
        margin-bottom: 10px;
    }
    .error {
        color: red;
        font-size: 14px;
    }
    .submitbutton {
        @include button;
        display: block;
        margin: 0 auto;
        margin-top: 25px;
        padding: 10px;
        width: 220px;
        color: white;
        border: 1px solid $firm_mint;
        background-color: $firm_mint;
        &:hover {
            color: black;
            background-color: #fff;
        }
        &:disabled {
            color: #808080;
            border: 1px solid #808080;
            background-color: #fff;
        }
    }
}