.footer_block {
    min-height: 270px;
    background-color: rgb(50, 50, 50);
    text-align: center;
    color: #ffffff;
    .footer_item {
        padding: 15px;
    }
    .footer_icon {
        margin-top: 25px;
        font-size: 80px;
        padding: 10px 20px;
        color: #ffffff;
        &:hover {
            transform: translateY(-3px);
        }
    }
}